.container {
    border-radius: 100px;
    padding : 10px 20px;
    font-size: 14px;
    color : #003911;
    height: 44px;
    display: flex;

    text-align: center;

    cursor: pointer;
}

.icon {
    margin : auto;
    margin-right : 10px;
}