@tailwind base;
@tailwind components;
@tailwind utilities;

@use "~@material/checkbox";
@use "~@material/icon-button";
@use "~@material/data-table/data-table";

@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;


@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-Black.ttf);
  font-weight: 900;
  font-style : normal;
}

@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-ExtraBold.ttf);
  font-weight: 800;
  font-style : normal;
}

@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-Bold.ttf);
  font-weight: 700;
  font-style : normal;
}

@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-SemiBold.ttf);
  font-weight: 600;
  font-style : normal;
}

@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-Medium.ttf);
  font-weight: 500;
  font-style : normal;
}

@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-Regular.ttf);
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-Light.ttf);
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-ExtraLight.ttf);
  font-weight: 200;
  font-style : normal;
}

@font-face {
  font-family: "noto-sans-thai";
  src: url(./../assets/fonts/NotoSansThai/NotoSansThai-Thin.ttf);
  font-weight: 100;
  font-style : normal;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
  font-style : normal;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-BlackItalic.ttf);
  font-weight: 900;
  font-style : italic;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style : normal;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style : italic;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-Italic.ttf);
  font-weight: 400;
  font-style : italic;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-LightItalic.ttf);
  font-weight: 300;
  font-style : italic;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-style : normal;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style : italic;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 100;
  font-style : normal;
}

@font-face {
  font-family: Roboto;
  src: url(./../assets/fonts/Roboto/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style : italic;
}

@font-face {
  font-family: Sukhumvit;
  src: url(./../assets/fonts/Sukhumvit/SukhumvitSet-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Sukhumvit;
  src: url(./../assets/fonts/Sukhumvit/SukhumvitSet-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Sukhumvit;
  src: url(./../assets/fonts/Sukhumvit/SukhumvitSet-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Sukhumvit;
  src: url(./../assets/fonts/Sukhumvit/SukhumvitSet-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Sukhumvit;
  src: url(./../assets/fonts/Sukhumvit/SukhumvitSet-Text.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Sukhumvit;
  src: url(./../assets/fonts/Sukhumvit/SukhumvitSet-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Sukhumvit;
  src: url(./../assets/fonts/Sukhumvit/SukhumvitSet-Thin.ttf);
  font-weight: 200;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "noto-sans-thai";
}

.content {
  margin-left : 32px;
  margin-right: 32px;
  margin-top : 30px;
  margin-bottom: 30px;
}

.breadcrumbs {
  color : #898989;
  font-size: 12px;
  font-family: Roboto, "noto-sans-thai";
  font-weight: 500;
}

.title {
  font-size: 32px;
  font-family: Roboto, "noto-sans-thai";
  font-weight: 400;
  margin-bottom: 30px;
}

.roboto {
  font-family: Roboto, "noto-sans-thai";
}


.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 26px;
  border: 1px solid #888;
  width: 342px;
  border-radius: 50px;
}

.modal-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.MuiButtonBase-root  {
  /* color  : #2C6ECB !important; */
  font-size: 14px;
  padding : 0px !important;
}

.MuiButtonBase-root  {
  /* color  : #2C6ECB !important; */
  font-size: 14px;
  padding : 0px !important;
}

.MuiMenuItem-root {
  padding : 10px !important;
}

.Mui-selected {
  color : #1C1B1F !important;
  padding : 10px !important;
}

.shadow {
  filter: drop-shadow(0px 4px 3px rgba(169, 169,169, 0.15));
  filter: drop-shadow(0px 1px 3px rgba(182, 182,182, 0.3));
}

.outlined {
  border : 1px solid #BA1A1A;
}

.medium {
  font-weight: 500;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

.disabled {
  color : #C8C8C8;
}

.category-logo {
  width: 40px;
  height: 40px;
  margin : auto;
}

.d-none {
  display: none;
}

.dot {
  width: 12px;
  height: 12px;
  margin : auto;
  border-radius: 2px;
}

.user-btn {
  width: 120px;
  height: 40px;
  border-radius: 0;
}

input {
  outline: none;
}

.MuiTabs-scroller {
  overflow-x: scroll !important;
}
.MuiTabs-scroller::-webkit-scrollbar {
  display: none !important;
}

.input {
  width: 100%;
  border-bottom: 1px solid black;
  height: 48px;
  padding-left: 10px;
  font-size: 28px;
}
